/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
nav {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #ddd;
}
section {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px; /* Ajusta este valor para hacer el borde más delgado */
    position: fixed;
    bottom: 0;
    width: 100%;
    border-bottom: 1px solid #000; /* Ajusta este valor para hacer el borde más delgado */
}

/* Estilos específicos para el botón de compra */
.comprar-btn {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.comprar-btn:hover {
    background-color: #0056b3;
}
